version=1
source_device=d
profile=default
journal_root=/home/d/.local/share/helium-tab-journal/default
store=/home/d/.local/share/helium-tab-journal-generations/default
state_root=/home/d/.local/state/helium-tab-journal/default
journal_cli=/home/d/.local/bin/helium-tab-journal
cms_certificate_a=/home/d/.config/helium-tab-journal/nas-recovery.crt
cms_certificate_b=/home/d/.config/helium-tab-journal/peer-recovery.crt
cms_private_key_a=/offline/not-on-source/nas-recovery.key
cms_private_key_b=/offline/not-on-source/peer-recovery.key
ssh_user=d
ssh_identity=/home/d/.ssh/helium-tab-journal-backup
ssh_known_hosts=/home/d/.ssh/helium-tab-journal-known-hosts
destination_a_host=lm
destination_a_root=/srv/nas/helium-tab-recovery
destination_b_host=da
destination_b_root=/home/d/.local/share/helium-tab-recovery
