version=3
source_device=oneplus
profile_id=native-recovery-default
source_path=/data/user/0/computer.helium.passwords.test/files/helium-native-recovery/oneplus/default
ssh_user=d
ssh_identity=/home/d/.ssh/helium_profile_backup_ed25519
ssh_known_hosts=/home/d/.ssh/helium_profile_backup_known_hosts
retention_keep=12
destination_reserve_bytes=1073741824
destination=nas-on-lm|nas|local|lm|-|/srv/nas/helium-profile-backups
destination=da-copy|device|ssh|da|da|/home/d/.local/share/helium-profile-backups
